[submodule "layers/meta-balena"]
	path = layers/meta-balena
	url = https://github.com/balena-os/meta-balena.git
	branch = master
[submodule "balena-yocto-scripts"]
	path = balena-yocto-scripts
	url = https://github.com/balena-os/balena-yocto-scripts.git
	branch = master
[submodule "contracts"]
	path = contracts
	url = https://github.com/balena-io/contracts.git
	branch = master
[submodule "layers/meta-bsp-imx8mp"]
	path = layers/meta-bsp-imx8mp
	url = https://github.com/compulab-yokneam/meta-bsp-imx8mp.git
	branch = kirkstone
[submodule "layers/poky"]
	path = layers/poky
	url = https://github.com/balena-os/poky
	branch = kirkstone
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded/
	branch = kirkstone
[submodule "layers/meta-compulab-bsp"]
	path = layers/meta-compulab-bsp
	url = https://github.com/compulab-yokneam/meta-compulab-bsp
	branch = honister
[submodule "layers/meta-freescale"]
	path = layers/meta-freescale
	url = https://github.com/Freescale/meta-freescale/
	branch = kirkstone
[submodule "layers/meta-imx"]
	path = layers/meta-imx
	url = https://github.com/nxp-imx/meta-imx.git
	branch = kirkstone-5.15.32-2.0.0
[submodule "layers/meta-imx8mp-isp-imx219"]
	path = layers/meta-imx8mp-isp-imx219
	url = https://github.com/compulab-yokneam/meta-imx8mp-isp-imx219.git
